## Imports

In [1]:
import pandas as pd
import os
import numpy as np

## Main

In [ ]:
source_file_path = os.path.join(os.curdir, "Data_lake", "Gold", "marketing_campaing_gold.parquet") #ruta del fichero

In [ ]:
datos_marketing_df = pd.read_parquet(source_file_path) #leemos el fichero

In [ ]:
datos_marketing_df.info() #comprobamos que está bien cargado

<class 'pandas.core.frame.DataFrame'>
Index: 199991 entries, 0 to 199999
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199991 non-null  int64
 1   Company           199991 non-null  object
 2   Campaign_Type     199991 non-null  object
 3   Target_Audience   199991 non-null  object
 4   Duration          199991 non-null  int64
 5   Channel_Used      199991 non-null  object
 6   Conversion_Rate   199989 non-null  float64
 7   Acquisition_Cost  199991 non-null  float64
 8   ROI               199991 non-null  float64
 9   Location          199991 non-null  object
 10  Language          199991 non-null  object
 11  Clicks            199988 non-null  float64
 12  Impressions       199991 non-null  int64
 13  Engagement_Score  199990 non-null  float64
 14  Customer_Segment  199991 non-null  object
 15  Date              199991 non-null  datetime64[ns]
 16  _BronzeTimestamp  199991 non-null  datetime64[us]
 17  _SilverTimestamp  199991 non-null  datetime64[us]
 18  _GoldTimestamp    199991 non-null  datetime64[us]
dtypes: datetime64[ns](1), datetime64[us](3), float64(5), int64(3), object(7)
memory usage: 30.5+ MB

In [7]:
datos_marketing_df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp,_SilverTimestamp,_GoldTimestamp
index,,,,,,,,,,,,,,,,,,,
0,1,Innovate Industries,Email,Men 18-24,30,Google Ads,0.04,16174.0,6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,2021-01-01,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719,2025-11-10 00:41:01.419846
1,2,NexGen Systems,Email,Women 35-44,60,Google Ads,0.12,11566.0,5.61,New York,German,116.0,7523,7.0,Fashionistas,2021-01-02,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719,2025-11-10 00:41:01.419846
2,3,Alpha Innovations,Influencer,Men 25-34,30,YouTube,0.07,10200.0,7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,2021-01-03,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719,2025-11-10 00:41:01.419846
3,4,DataTech Solutions,Display,All Ages,60,YouTube,0.11,12724.0,5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,2021-01-04,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719,2025-11-10 00:41:01.419846
4,5,NexGen Systems,Email,Men 25-34,15,YouTube,0.05,16452.0,6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,2021-01-05,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719,2025-11-10 00:41:01.419846

## Estadisticas

### Correlaciones numéricas

In [ ]:
#Miramos correlacion entre Acquisition_Cost y Conversion_Rate:

datos_marketing_df[["Acquisition_Cost", "Conversion_Rate"]].corr(method="pearson") 
#no hay correlacion entre Acquisition_Cost y Conversion_Rate

                  Acquisition_Cost  Conversion_Rate
Acquisition_Cost          1.000000         0.002199
Conversion_Rate           0.002199         1.000000

In [9]:
#Miramos correlacion entre Clicks y Conversion_Rate:

datos_marketing_df[["Clicks", "Conversion_Rate"]].corr(method="pearson") 
#no hay correlacion entre Clicks y Conversion_Rate

                  Clicks  Conversion_Rate
Clicks           1.00000          0.00032
Conversion_Rate  0.00032          1.00000

In [10]:
#Miramos correlacion entre Impressions y Conversion_Rate:

datos_marketing_df[["Impressions", "Conversion_Rate"]].corr(method="pearson") 
#no hay correlacion entre Impressions y Conversion_Rate

                 Impressions  Conversion_Rate
Impressions         1.000000        -0.002829
Conversion_Rate    -0.002829         1.000000

In [11]:
#Miramos correlacion entre Engagement_Score y Conversion_Rate:

datos_marketing_df[["Engagement_Score", "Conversion_Rate"]].corr(method="pearson") 
#no hay correlacion entre Engagement_Score y Conversion_Rate

                  Engagement_Score  Conversion_Rate
Engagement_Score          1.000000        -0.000674
Conversion_Rate          -0.000674         1.000000

In [12]:
#Miramos correlacion entre Duration y Conversion_Rate:

datos_marketing_df[["Duration", "Conversion_Rate"]].corr(method="pearson") 
#no hay correlacion entre Duration y Conversion_Rate

                 Duration  Conversion_Rate
Duration         1.000000        -0.001062
Conversion_Rate -0.001062         1.000000

In [13]:
#Miramos correlacion entre Acquisition_Cost y ROI:

datos_marketing_df[["Acquisition_Cost", "ROI"]].corr(method="pearson") 
#no hay correlacion entre Acquisition_Cost y ROI

                  Acquisition_Cost       ROI
Acquisition_Cost          1.000000  0.001015
ROI                       0.001015  1.000000

In [14]:
#Miramos correlacion entre Conversion_Rate y ROI:

datos_marketing_df[["Conversion_Rate", "ROI"]].corr(method="pearson") 
#no hay correlacion entre Conversion_Rate y ROI

                 Conversion_Rate       ROI
Conversion_Rate         1.000000 -0.001144
ROI                    -0.001144  1.000000

In [15]:
#Miramos correlacion entre Engagement_Score y ROI:

datos_marketing_df[["Engagement_Score", "ROI"]].corr(method="pearson") 
#no hay correlacion entre Engagement_Score y ROI

                  Engagement_Score       ROI
Engagement_Score          1.000000  0.000612
ROI                       0.000612  1.000000

### Correlaciones numerica/categorica

In [23]:
from scipy.stats import ttest_ind, f_oneway, chi2_contingency, spearmanr
from statsmodels.stats.multicomp import pairwise_turkeyhsd

ModuleNotFoundError: No module named 'statsmodels'

In [22]:
tukey = pairwise_tukeyhsd("Channel_Used", "Conversion_Rate", alpha=0.05)
print(tukey)

NameError: name 'pairwise_tukeyhsd' is not defined