## Imports

In [547]:
import os
import pandas as pd
import numpy as np
from datetime import datetime

## Parametros

In [548]:
bronze_path = os.path.join(
    os.curdir, "Data_lake", "Bronze"
)
silver_path = os.path.join(
    os.curdir, "Data_lake", "Silver"
)


bronze_file_name = "marketing_campaign_bronze.parquet"
silver_file_name = "marketing_campaing_silver.parquet"


bronze_file_path = os.path.join(
    bronze_path, bronze_file_name
)
silver_file_path = os.path.join(
    silver_path, silver_file_name
)

## Main

In [549]:
bronze_marketing_campaign_df = pd.read_parquet(bronze_file_path) #Se carga archivo bronze

In [550]:
bronze_marketing_campaign_df.head() #Se comprueba que archivo bronze ha cargado correctamente

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp
0,1.0,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,01/01/2021,2025-11-09 18:24:55.302735
1,2.0,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,German,116.0,7523,7.0,Fashionistas,02/01/2021,2025-11-09 18:24:55.302735
2,3.0,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,03/01/2021,2025-11-09 18:24:55.302735
3,4.0,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,04/01/2021,2025-11-09 18:24:55.302735
4,5.0,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,05/01/2021,2025-11-09 18:24:55.302735

## Valores Nulos

In [551]:
#Vemos la información del archivo bronze:

bronze_marketing_campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199998 non-null  float64
 1   Company           199998 non-null  object
 2   Campaign_Type     200000 non-null  object
 3   Target_Audience   199997 non-null  object
 4   Duration          199999 non-null  object
 5   Channel_Used      199998 non-null  object
 6   Conversion_Rate   199999 non-null  float64
 7   Acquisition_Cost  199999 non-null  object
 8   ROI               200000 non-null  float64
 9   Location          199997 non-null  object
 10  Language          199999 non-null  object
 11  Clicks            199997 non-null  float64
 12  Impressions       200000 non-null  int64
 13  Engagement_Score  199999 non-null  float64
 14  Customer_Segment  199999 non-null  object
 15  Date              200000 non-null  object
 16  _BronzeTimestamp  200000 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(5), int64(1), object(10)
memory usage: 25.9+ MB

In [552]:
#En principio la columna Compaign_ID tiene valores nulos
#Lo comprobamos:

bronze_marketing_campaign_df[bronze_marketing_campaign_df["Campaign_ID"].isnull() == True]

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp
75,NaN,Innovate Industries,Search,Men 25-34,30 days,Instagram,0.04,"$15,182.00",2.03,Houston,English,492.0,7364,2.0,Fashionistas,17/03/2021,2025-11-09 18:24:55.302735
100,NaN,NexGen Systems,Search,Men 25-34,45 days,YouTube,0.07,"$18,735.00",4.86,Los Angeles,Spanish,706.0,8715,6.0,None,11/04/2021,2025-11-09 18:24:55.302735

In [553]:
#Borramos las filas con valores nulos en la columna Campaign_ID:

bronze_mc_primera_limpieza_df = bronze_marketing_campaign_df.dropna(subset=["Campaign_ID"])

In [554]:
#Comprobamos que se han borrado correctamente:

bronze_mc_primera_limpieza_df[bronze_mc_primera_limpieza_df["Campaign_ID"].isnull() == True]

Empty DataFrame
Columns: [Campaign_ID, Company, Campaign_Type, Target_Audience, Duration, Channel_Used, Conversion_Rate, Acquisition_Cost, ROI, Location, Language, Clicks, Impressions, Engagement_Score, Customer_Segment, Date, _BronzeTimestamp]
Index: []

In [555]:
#Comprobamos el resto de columnas

bronze_mc_primera_limpieza_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199998 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199998 non-null  float64
 1   Company           199996 non-null  object
 2   Campaign_Type     199998 non-null  object
 3   Target_Audience   199995 non-null  object
 4   Duration          199997 non-null  object
 5   Channel_Used      199996 non-null  object
 6   Conversion_Rate   199997 non-null  float64
 7   Acquisition_Cost  199997 non-null  object
 8   ROI               199998 non-null  float64
 9   Location          199995 non-null  object
 10  Language          199997 non-null  object
 11  Clicks            199995 non-null  float64
 12  Impressions       199998 non-null  int64
 13  Engagement_Score  199997 non-null  float64
 14  Customer_Segment  199998 non-null  object
 15  Date              199998 non-null  object
 16  _BronzeTimestamp  199998 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(5), int64(1), object(10)
memory usage: 27.5+ MB

In [556]:
#Hay valores nulos en Company, Target_Audience, Duration, Channel_Used, Conversion_Rate, Acquisition_Cost, Location, Languague, Clicks, Engagement_Score:
#Arreglamos estos valores nulos:
fill_values = {
    "Company" : "Unknown",
    "Target_Audience" : "Unknown",
    "Channel_Used" : "Unknown",
    "Location" : "Unknown",
    "Language" : "Unknown",
}

#Dejamos como valor nulo las columnas Clicks, Engagement_Score y Conversion_Rate pues estos datos no son fiables de rellenar apartir de otros
#Si fuera necesario se eliminarán las filas pertinentes en la fase gold

In [557]:
#Aplicamos la limpieza anterior:

bronze_mc_segunda_limpieza_df = bronze_mc_primera_limpieza_df.fillna(fill_values)

In [558]:
bronze_mc_segunda_limpieza_df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp
0,1.0,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,"$16,174.00",6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,01/01/2021,2025-11-09 18:24:55.302735
1,2.0,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,"$11,566.00",5.61,New York,German,116.0,7523,7.0,Fashionistas,02/01/2021,2025-11-09 18:24:55.302735
2,3.0,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,"$10,200.00",7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,03/01/2021,2025-11-09 18:24:55.302735
3,4.0,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,"$12,724.00",5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,04/01/2021,2025-11-09 18:24:55.302735
4,5.0,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,"$16,452.00",6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,05/01/2021,2025-11-09 18:24:55.302735

In [559]:
bronze_mc_segunda_limpieza_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199998 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199998 non-null  float64
 1   Company           199998 non-null  object
 2   Campaign_Type     199998 non-null  object
 3   Target_Audience   199998 non-null  object
 4   Duration          199997 non-null  object
 5   Channel_Used      199998 non-null  object
 6   Conversion_Rate   199997 non-null  float64
 7   Acquisition_Cost  199997 non-null  object
 8   ROI               199998 non-null  float64
 9   Location          199998 non-null  object
 10  Language          199998 non-null  object
 11  Clicks            199995 non-null  float64
 12  Impressions       199998 non-null  int64
 13  Engagement_Score  199997 non-null  float64
 14  Customer_Segment  199998 non-null  object
 15  Date              199998 non-null  object
 16  _BronzeTimestamp  199998 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(5), int64(1), object(10)
memory usage: 27.5+ MB

In [560]:
#Tenemos que hacer el limpieza de duration y Acquisition_Cost por otro lado

In [561]:
#Hacemos limpieza de Acquition_Cost:

#Tenemos que adaptar el formato para poder hacer agrupación por la categoría por Company y hacer la media de los valores en ella 

bronze_mc_formato_Acquition_Cost_df =bronze_mc_segunda_limpieza_df

bronze_mc_formato_Acquition_Cost_df["Acquisition_Cost"] = (
    bronze_mc_formato_Acquition_Cost_df["Acquisition_Cost"].str #añadimos "str" para que actúe sobre la cadena de texto dentro de cada fila
    .replace("$"," ")  # elimina $
)

bronze_mc_formato_Acquition_Cost_df["Acquisition_Cost"] = (
    bronze_mc_formato_Acquition_Cost_df["Acquisition_Cost"].str #añadimos "str" para que actúe sobre la cadena de texto dentro de cada fila
    .replace(",","")  # elimina comas
)

In [562]:
bronze_mc_formato_Acquition_Cost_float_df = bronze_mc_formato_Acquition_Cost_df

bronze_mc_formato_Acquition_Cost_float_df["Acquisition_Cost"] = (
    bronze_mc_formato_Acquition_Cost_float_df["Acquisition_Cost"].astype(float) #pasamos el vaor a de str a float para posteriormente poder operar con él
)

In [563]:
bronze_mc_formato_Acquition_Cost_float_df.head() #comprobamos que el cambio de formato se haya realizado correctamente

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp
0,1.0,Innovate Industries,Email,Men 18-24,30 days,Google Ads,0.04,16174.0,6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,01/01/2021,2025-11-09 18:24:55.302735
1,2.0,NexGen Systems,Email,Women 35-44,60 days,Google Ads,0.12,11566.0,5.61,New York,German,116.0,7523,7.0,Fashionistas,02/01/2021,2025-11-09 18:24:55.302735
2,3.0,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,0.07,10200.0,7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,03/01/2021,2025-11-09 18:24:55.302735
3,4.0,DataTech Solutions,Display,All Ages,60 days,YouTube,0.11,12724.0,5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,04/01/2021,2025-11-09 18:24:55.302735
4,5.0,NexGen Systems,Email,Men 25-34,15 days,YouTube,0.05,16452.0,6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,05/01/2021,2025-11-09 18:24:55.302735

In [564]:
bronze_mc_tercera_limpieza_df = bronze_mc_formato_Acquition_Cost_float_df

#rellenamos valores nulos de cada compañía con la media de los demás valores Acquisition_Cost que cada compañía tenía:

bronze_mc_tercera_limpieza_df["Acquisition_Cost"] = (
    bronze_mc_tercera_limpieza_df.groupby("Company")["Acquisition_Cost"]
    .transform(lambda x: x.fillna(x.mean())) 
)

In [565]:
bronze_mc_tercera_limpieza_df.info() #comprobamos que los valores estén rellenados

<class 'pandas.core.frame.DataFrame'>
Index: 199998 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199998 non-null  float64
 1   Company           199998 non-null  object
 2   Campaign_Type     199998 non-null  object
 3   Target_Audience   199998 non-null  object
 4   Duration          199997 non-null  object
 5   Channel_Used      199998 non-null  object
 6   Conversion_Rate   199997 non-null  float64
 7   Acquisition_Cost  199998 non-null  float64
 8   ROI               199998 non-null  float64
 9   Location          199998 non-null  object
 10  Language          199998 non-null  object
 11  Clicks            199995 non-null  float64
 12  Impressions       199998 non-null  int64
 13  Engagement_Score  199997 non-null  float64
 14  Customer_Segment  199998 non-null  object
 15  Date              199998 non-null  object
 16  _BronzeTimestamp  199998 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(6), int64(1), object(9)
memory usage: 27.5+ MB

In [566]:
#Hacemos limpieza de Duration:

bronze_mc_cuarta_limpieza_df = bronze_mc_tercera_limpieza_df

#Tenemos que adaptar el formato (eliminar "days" y pasarlo a float) para poder trabajar con él:

bronze_mc_cuarta_limpieza_df["Duration"] = (
    bronze_mc_cuarta_limpieza_df["Duration"].str.extract(r"(\d+)").astype(float)
)
#.str.extract(r"(\d+)") extre la parte númerica de un texto (lo hacemos para separar el número de dias de "days")

In [567]:
bronze_mc_cuarta_limpieza_df.head() #comprobamos que el cambio de formato se haya realizado correctamente

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp
0,1.0,Innovate Industries,Email,Men 18-24,30.0,Google Ads,0.04,16174.0,6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,01/01/2021,2025-11-09 18:24:55.302735
1,2.0,NexGen Systems,Email,Women 35-44,60.0,Google Ads,0.12,11566.0,5.61,New York,German,116.0,7523,7.0,Fashionistas,02/01/2021,2025-11-09 18:24:55.302735
2,3.0,Alpha Innovations,Influencer,Men 25-34,30.0,YouTube,0.07,10200.0,7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,03/01/2021,2025-11-09 18:24:55.302735
3,4.0,DataTech Solutions,Display,All Ages,60.0,YouTube,0.11,12724.0,5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,04/01/2021,2025-11-09 18:24:55.302735
4,5.0,NexGen Systems,Email,Men 25-34,15.0,YouTube,0.05,16452.0,6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,05/01/2021,2025-11-09 18:24:55.302735

In [568]:
#Relleno los valores nulos de la columna Duration con la media de valores de esta columna:

#Primero definimos como vamos a tratar los nulos de la columna Duration
fill_values = {
    "Duration": bronze_mc_cuarta_limpieza_df['Duration'].mean()
}

In [569]:
#Después aplicamos la limpieza:
bronze_mc_cuarta_limpieza_df = bronze_mc_cuarta_limpieza_df.fillna(fill_values)

In [570]:
bronze_mc_cuarta_limpieza_df.info() #Comprobamos que los valores se hayan rellenado correctamente

<class 'pandas.core.frame.DataFrame'>
Index: 199998 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199998 non-null  float64
 1   Company           199998 non-null  object
 2   Campaign_Type     199998 non-null  object
 3   Target_Audience   199998 non-null  object
 4   Duration          199998 non-null  float64
 5   Channel_Used      199998 non-null  object
 6   Conversion_Rate   199997 non-null  float64
 7   Acquisition_Cost  199998 non-null  float64
 8   ROI               199998 non-null  float64
 9   Location          199998 non-null  object
 10  Language          199998 non-null  object
 11  Clicks            199995 non-null  float64
 12  Impressions       199998 non-null  int64
 13  Engagement_Score  199997 non-null  float64
 14  Customer_Segment  199998 non-null  object
 15  Date              199998 non-null  object
 16  _BronzeTimestamp  199998 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(7), int64(1), object(8)
memory usage: 27.5+ MB

In [571]:
# Con esto se habrán tratado los valores nulos de todas las columnas excepto las de Conversion_Rate, Clicks y Engagement_Score que por el momento se dejaran con valores nulos

## Duplicados

In [572]:
bronze_mc_cuarta_limpieza_df["Campaign_ID"].value_counts(dropna=False)    
#Podemos ver que que se repite 4 veces el valor 17

Campaign_ID
17.0        4
200000.0    1
1.0         1
2.0         1
3.0         1
           ..
58.0        1
59.0        1
60.0        1
61.0        1
38.0        1
Name: count, Length: 199995, dtype: int64

In [573]:
print(bronze_mc_cuarta_limpieza_df["Campaign_ID"].sort_values()) #vemos los valores de la columna Campaing_ID ordenados

0              1.0
1              2.0
2              3.0
3              4.0
4              5.0
            ...
199995    199996.0
199996    199997.0
199997    199998.0
199998    199999.0
199999    200000.0
Name: Campaign_ID, Length: 199998, dtype: float64

In [574]:
#creamos una función que nnos busque y cuente duplicados
def busca_duplicados(lista):
    duplicados = []
    contador = 0
    repetido = set()
    for elemento in lista:
        if elemento in repetido:
            duplicados.append(elemento)
            contador = contador + 1
        else:
            repetido.add(elemento)
    return duplicados, contador

In [575]:
lista_Campaign_ID_1 = bronze_mc_cuarta_limpieza_df["Campaign_ID"].tolist() #pasamos a lista los valores de Campaign_ID

print(busca_duplicados(lista_Campaign_ID_1)) #aplicamos la función creada a la lista anterior
#Vemos que el valor 17 se repite 3 veces, deberemos eliminar dichas filas

([17.0, 17.0, 17.0], 3)

In [576]:
#Eliminamos filas que contengan valores duplicados de Campaign_ID:
bronze_mc_sin_duplicados_df = bronze_mc_cuarta_limpieza_df

bronze_erp_sin_duplicados_df = bronze_mc_sin_duplicados_df.drop_duplicates("Campaign_ID")

In [577]:
#Llamamos de nuevo a la función busca_duplicados para segurarnos de que se han eliminado correctamente

lista_Campaign_ID_2 = bronze_erp_sin_duplicados_df["Campaign_ID"].tolist()

print(busca_duplicados(lista_Campaign_ID_2))

#se ha ejecutado correctamente

([], 0)

## Valores atípicos

In [578]:
bronze_erp_sin_duplicados_df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp
0,1.0,Innovate Industries,Email,Men 18-24,30.0,Google Ads,0.04,16174.0,6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,01/01/2021,2025-11-09 18:24:55.302735
1,2.0,NexGen Systems,Email,Women 35-44,60.0,Google Ads,0.12,11566.0,5.61,New York,German,116.0,7523,7.0,Fashionistas,02/01/2021,2025-11-09 18:24:55.302735
2,3.0,Alpha Innovations,Influencer,Men 25-34,30.0,YouTube,0.07,10200.0,7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,03/01/2021,2025-11-09 18:24:55.302735
3,4.0,DataTech Solutions,Display,All Ages,60.0,YouTube,0.11,12724.0,5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,04/01/2021,2025-11-09 18:24:55.302735
4,5.0,NexGen Systems,Email,Men 25-34,15.0,YouTube,0.05,16452.0,6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,05/01/2021,2025-11-09 18:24:55.302735

In [579]:
#Seguimos comprobando las demás columnas
#Revisamos columna Duration
bronze_erp_sin_duplicados_df["Duration"].value_counts(dropna=False)

Duration
30.000000    50254
45.000000    50098
60.000000    49865
15.000000    49777
37.503938        1
Name: count, dtype: int64

In [580]:
#el valor 37.503938 es un valor atípico, lo remplazamos por su valor redondeado con la función replace:

bronze_mc_valores_atipicos_1_df = bronze_erp_sin_duplicados_df

bronze_mc_valores_atipicos_1_df["Duration"] = bronze_mc_valores_atipicos_1_df["Duration"].round(0) #.round(0) redondea los decimales que aparecen en la columna

C:\Users\noagg\AppData\Local\Temp\ipykernel_12540\22666878.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_mc_valores_atipicos_1_df["Duration"] = bronze_mc_valores_atipicos_1_df["Duration"].round(0) #.round(0) redondea los decimales que aparecen en la columna

In [581]:
#Comprobamos que se ha redondeado correctamente
bronze_mc_valores_atipicos_1_df["Duration"].value_counts(dropna=False)

Duration
30.0    50254
45.0    50098
60.0    49865
15.0    49777
38.0        1
Name: count, dtype: int64

In [582]:
#Miramos el tipo de valor que son las variables de la columna Duration
bronze_mc_valores_atipicos_1_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199995 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199995 non-null  float64
 1   Company           199995 non-null  object
 2   Campaign_Type     199995 non-null  object
 3   Target_Audience   199995 non-null  object
 4   Duration          199995 non-null  float64
 5   Channel_Used      199995 non-null  object
 6   Conversion_Rate   199994 non-null  float64
 7   Acquisition_Cost  199995 non-null  float64
 8   ROI               199995 non-null  float64
 9   Location          199995 non-null  object
 10  Language          199995 non-null  object
 11  Clicks            199992 non-null  float64
 12  Impressions       199995 non-null  int64
 13  Engagement_Score  199994 non-null  float64
 14  Customer_Segment  199995 non-null  object
 15  Date              199995 non-null  object
 16  _BronzeTimestamp  199995 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(7), int64(1), object(8)
memory usage: 27.5+ MB

In [583]:
#La variable Duration es un tipo float, pero como los valores de ella no tienen decilameles la pasamos a int
bronze_mc_valores_atipicos_2_df = bronze_mc_valores_atipicos_1_df
bronze_mc_valores_atipicos_2_df["Duration"] = bronze_mc_valores_atipicos_2_df["Duration"].astype("int")

C:\Users\noagg\AppData\Local\Temp\ipykernel_12540\105281193.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_mc_valores_atipicos_2_df["Duration"] = bronze_mc_valores_atipicos_2_df["Duration"].astype("int")

In [584]:
#Vemos que el cambio a tipo int se ha ejecutado correctamente
bronze_mc_valores_atipicos_2_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199995 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199995 non-null  float64
 1   Company           199995 non-null  object
 2   Campaign_Type     199995 non-null  object
 3   Target_Audience   199995 non-null  object
 4   Duration          199995 non-null  int64
 5   Channel_Used      199995 non-null  object
 6   Conversion_Rate   199994 non-null  float64
 7   Acquisition_Cost  199995 non-null  float64
 8   ROI               199995 non-null  float64
 9   Location          199995 non-null  object
 10  Language          199995 non-null  object
 11  Clicks            199992 non-null  float64
 12  Impressions       199995 non-null  int64
 13  Engagement_Score  199994 non-null  float64
 14  Customer_Segment  199995 non-null  object
 15  Date              199995 non-null  object
 16  _BronzeTimestamp  199995 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(6), int64(2), object(8)
memory usage: 27.5+ MB

In [585]:
#Analizamos comlumna Conversion_Rate
#sus valores deberían encontrarse entre: 0-1
bronze_mc_valores_atipicos_1_df["Conversion_Rate"].value_counts(dropna=False)

Conversion_Rate
0.13      14468
0.10      14436
0.06      14402
0.11      14399
0.02      14386
0.04      14337
0.09      14318
0.12      14263
0.08      14251
0.03      14225
0.05      14143
0.14      14123
0.07      14058
0.15       7160
0.01       7024
NaN           1
580.00        1
Name: count, dtype: int64

In [586]:
#Observamos que hay un valor atípico, el 580, lo remplazamos por NaN

bronze_mc_valores_atipicos_2_df = bronze_mc_valores_atipicos_1_df

bronze_mc_valores_atipicos_2_df["Conversion_Rate"] = bronze_mc_valores_atipicos_2_df["Conversion_Rate"].replace(580.00, np.nan) #np.nan nos cambia el valor a un NaN

C:\Users\noagg\AppData\Local\Temp\ipykernel_12540\1996438483.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_mc_valores_atipicos_2_df["Conversion_Rate"] = bronze_mc_valores_atipicos_2_df["Conversion_Rate"].replace(580.00, np.nan) #np.nan nos cambia el valor a un NaN

In [587]:
bronze_mc_valores_atipicos_2_df["Conversion_Rate"].value_counts(dropna=False) #Comprobamos que se ha ejecutado correctamente

Conversion_Rate
0.13    14468
0.10    14436
0.06    14402
0.11    14399
0.02    14386
0.04    14337
0.09    14318
0.12    14263
0.08    14251
0.03    14225
0.05    14143
0.14    14123
0.07    14058
0.15     7160
0.01     7024
NaN         2
Name: count, dtype: int64

In [588]:
#Comprobamos valores de Acquisition_Cost

bronze_mc_valores_atipicos_2_df["Acquisition_Cost"].value_counts(dropna=False)
#No aparecen valores atipicos apriori

Acquisition_Cost
1.657800e+04    32
6.570000e+03    31
9.128000e+03    30
1.738000e+04    29
1.543000e+04    29
                ..
6.147000e+03     3
1.406800e+04     2
9.623000e+03     2
1.040500e+13     1
1.251359e+04     1
Name: count, Length: 15003, dtype: int64

In [589]:
print(bronze_mc_valores_atipicos_2_df["Acquisition_Cost"].max())
print(bronze_mc_valores_atipicos_2_df["Acquisition_Cost"].min()) 
#no parecen valores atipicos

10405000000000.0
5000.0

In [590]:
#Comprobamos valores de ROI

bronze_mc_valores_atipicos_2_df["ROI"].value_counts(dropna=False)

ROI
7.43    407
4.25    383
6.05    378
5.89    375
7.69    374
       ...
6.38    282
7.09    280
6.99    274
2.00    178
8.00    160
Name: count, Length: 601, dtype: int64

In [591]:
print(bronze_mc_valores_atipicos_2_df["ROI"].max())
print(bronze_mc_valores_atipicos_2_df["ROI"].min()) 
#no parecen valores atipicos

8.0
2.0

In [592]:
#Comprobamos valores de Clicks    

bronze_mc_valores_atipicos_2_df["Clicks"].value_counts(dropna=False)

Clicks
477.0    273
262.0    266
140.0    266
726.0    266
232.0    262
        ...
302.0    186
427.0    185
549.0    182
764.0    182
NaN        3
Name: count, Length: 902, dtype: int64

In [593]:
print(bronze_mc_valores_atipicos_2_df["Clicks"].max())
print(bronze_mc_valores_atipicos_2_df["Clicks"].min()) 
#no parecen valores atipicos

1000.0
100.0

In [594]:
#Comprobamos valores de Impressions    

bronze_mc_valores_atipicos_2_df["Impressions"].value_counts(dropna=False)

Impressions
9471    41
3564    41
1602    41
5694    40
6318    40
        ..
8303     8
6079     8
2780     8
6103     7
2392     6
Name: count, Length: 9001, dtype: int64

In [595]:
print(bronze_mc_valores_atipicos_2_df["Impressions"].max())
print(bronze_mc_valores_atipicos_2_df["Impressions"].min()) 
#no parecen valores atipicos

10000
1000

In [596]:
#Comprobamos valores de Engagement_Score    

bronze_mc_valores_atipicos_2_df["Engagement_Score"].value_counts(dropna=False)

Engagement_Score
4.0     20140
2.0     20112
9.0     20105
1.0     20026
5.0     20023
3.0     19946
8.0     19944
7.0     19933
10.0    19884
6.0     19881
NaN         1
Name: count, dtype: int64

In [597]:
print(bronze_mc_valores_atipicos_2_df["Engagement_Score"].max())
print(bronze_mc_valores_atipicos_2_df["Engagement_Score"].min()) 
#no parecen valores atipicos

10.0
1.0

In [598]:
#Comprobamos valores de Date    

bronze_mc_valores_atipicos_2_df["Date"].value_counts(dropna=False)
#Observamos 4 fechas en 2077, por ende, erroneas

Date
17/11/2021    548
18/11/2021    548
19/11/2021    548
20/11/2021    548
21/11/2021    548
             ...
19/03/2021    547
05/04/2021    547
01/04/2021    547
11/04/2021    547
05/01/2077      4
Name: count, Length: 366, dtype: int64

In [599]:
#SBorramos las fechas erroneas

bronze_mc_valores_atipicos_3_df = bronze_mc_valores_atipicos_2_df

bronze_mc_valores_atipicos_3_df = bronze_mc_valores_atipicos_3_df[
    bronze_mc_valores_atipicos_3_df["Date"] != "05/01/2077"]

In [600]:
bronze_mc_valores_atipicos_3_df["Date"].value_counts(dropna=False) #Comprobamos que se ha ejecutado correctamente

Date
01/01/2021    548
02/01/2021    548
03/01/2021    548
04/01/2021    548
05/01/2021    548
             ...
19/03/2021    547
26/03/2021    547
01/04/2021    547
05/04/2021    547
11/04/2021    547
Name: count, Length: 365, dtype: int64

## Tipado

In [601]:
bronze_mc_valores_atipicos_3_df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp
0,1.0,Innovate Industries,Email,Men 18-24,30,Google Ads,0.04,16174.0,6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,01/01/2021,2025-11-09 18:24:55.302735
1,2.0,NexGen Systems,Email,Women 35-44,60,Google Ads,0.12,11566.0,5.61,New York,German,116.0,7523,7.0,Fashionistas,02/01/2021,2025-11-09 18:24:55.302735
2,3.0,Alpha Innovations,Influencer,Men 25-34,30,YouTube,0.07,10200.0,7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,03/01/2021,2025-11-09 18:24:55.302735
3,4.0,DataTech Solutions,Display,All Ages,60,YouTube,0.11,12724.0,5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,04/01/2021,2025-11-09 18:24:55.302735
4,5.0,NexGen Systems,Email,Men 25-34,15,YouTube,0.05,16452.0,6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,05/01/2021,2025-11-09 18:24:55.302735

In [602]:
bronze_mc_valores_atipicos_3_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199991 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199991 non-null  float64
 1   Company           199991 non-null  object
 2   Campaign_Type     199991 non-null  object
 3   Target_Audience   199991 non-null  object
 4   Duration          199991 non-null  int64
 5   Channel_Used      199991 non-null  object
 6   Conversion_Rate   199989 non-null  float64
 7   Acquisition_Cost  199991 non-null  float64
 8   ROI               199991 non-null  float64
 9   Location          199991 non-null  object
 10  Language          199991 non-null  object
 11  Clicks            199988 non-null  float64
 12  Impressions       199991 non-null  int64
 13  Engagement_Score  199990 non-null  float64
 14  Customer_Segment  199991 non-null  object
 15  Date              199991 non-null  object
 16  _BronzeTimestamp  199991 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(6), int64(2), object(8)
memory usage: 27.5+ MB

In [603]:
bronze_mc_valores_tipado_1_df = bronze_mc_valores_atipicos_3_df

bronze_mc_valores_tipado_1_df["Campaign_ID"] = bronze_mc_valores_tipado_1_df["Campaign_ID"].astype("int")

C:\Users\noagg\AppData\Local\Temp\ipykernel_12540\1107303111.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_mc_valores_tipado_1_df["Campaign_ID"] = bronze_mc_valores_tipado_1_df["Campaign_ID"].astype("int")

In [604]:
bronze_mc_valores_tipado_1_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199991 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199991 non-null  int64
 1   Company           199991 non-null  object
 2   Campaign_Type     199991 non-null  object
 3   Target_Audience   199991 non-null  object
 4   Duration          199991 non-null  int64
 5   Channel_Used      199991 non-null  object
 6   Conversion_Rate   199989 non-null  float64
 7   Acquisition_Cost  199991 non-null  float64
 8   ROI               199991 non-null  float64
 9   Location          199991 non-null  object
 10  Language          199991 non-null  object
 11  Clicks            199988 non-null  float64
 12  Impressions       199991 non-null  int64
 13  Engagement_Score  199990 non-null  float64
 14  Customer_Segment  199991 non-null  object
 15  Date              199991 non-null  object
 16  _BronzeTimestamp  199991 non-null  datetime64[us]
dtypes: datetime64[us](1), float64(5), int64(3), object(8)
memory usage: 27.5+ MB

In [605]:
#QUIERO PASAR LOS CLICKS A INT PERO NO ME DEJA

In [606]:
#Cambiamos el formato de la fecha:

bronze_mc_valores_tipado_2_df = bronze_mc_valores_tipado_1_df

bronze_mc_valores_tipado_2_df["Date"] = pd.to_datetime(bronze_mc_valores_tipado_2_df["Date"], dayfirst=True, errors="coerce") #"coerce" pone NaT si alguna fecha es inválida

C:\Users\noagg\AppData\Local\Temp\ipykernel_12540\1273120692.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_mc_valores_tipado_2_df["Date"] = pd.to_datetime(bronze_mc_valores_tipado_2_df["Date"], dayfirst=True, errors="coerce") #"coerce" pone NaT si alguna fecha es inválida

In [607]:
bronze_mc_valores_tipado_2_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 199991 entries, 0 to 199999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       199991 non-null  int64
 1   Company           199991 non-null  object
 2   Campaign_Type     199991 non-null  object
 3   Target_Audience   199991 non-null  object
 4   Duration          199991 non-null  int64
 5   Channel_Used      199991 non-null  object
 6   Conversion_Rate   199989 non-null  float64
 7   Acquisition_Cost  199991 non-null  float64
 8   ROI               199991 non-null  float64
 9   Location          199991 non-null  object
 10  Language          199991 non-null  object
 11  Clicks            199988 non-null  float64
 12  Impressions       199991 non-null  int64
 13  Engagement_Score  199990 non-null  float64
 14  Customer_Segment  199991 non-null  object
 15  Date              199991 non-null  datetime64[ns]
 16  _BronzeTimestamp  199991 non-null  datetime64[us]
dtypes: datetime64[ns](1), datetime64[us](1), float64(5), int64(3), object(7)
memory usage: 27.5+ MB

## Guardar

In [608]:
# Crear carpeta
os.mkdir(silver_path)

In [609]:
#Añadir el timestamp de carga
bronze_mc_times_tamp_df = bronze_mc_valores_tipado_2_df

bronze_mc_times_tamp_df['_SilverTimestamp'] = datetime.now()

C:\Users\noagg\AppData\Local\Temp\ipykernel_12540\2574232339.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bronze_mc_times_tamp_df['_SilverTimestamp'] = datetime.now()

In [610]:
#Comprobamos que se ha añadido bien
bronze_mc_times_tamp_df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp,_SilverTimestamp
0,1,Innovate Industries,Email,Men 18-24,30,Google Ads,0.04,16174.0,6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,2021-01-01,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719
1,2,NexGen Systems,Email,Women 35-44,60,Google Ads,0.12,11566.0,5.61,New York,German,116.0,7523,7.0,Fashionistas,2021-01-02,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719
2,3,Alpha Innovations,Influencer,Men 25-34,30,YouTube,0.07,10200.0,7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,2021-01-03,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719
3,4,DataTech Solutions,Display,All Ages,60,YouTube,0.11,12724.0,5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,2021-01-04,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719
4,5,NexGen Systems,Email,Men 25-34,15,YouTube,0.05,16452.0,6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,2021-01-05,2025-11-09 18:24:55.302735,2025-11-10 00:28:43.435719

In [611]:
bronze_mc_times_tamp_df.to_parquet(silver_file_path)