## Imports

In [14]:
import os
import pandas as pd
import numpy as np
from datetime import datetime

## Parametros

In [15]:
silver_path = os.path.join(
    os.curdir, "Data_lake", "Silver"
)
gold_path = os.path.join(
    os.curdir, "Data_lake", "Gold"
)


silver_file_name = "marketing_campaing_silver.parquet"
gold_file_name = "marketing_campaing_gold.parquet"



silver_file_path = os.path.join(
    silver_path, silver_file_name
)
gold_file_path = os.path.join(
    gold_path, gold_file_name
)

## Main

In [16]:
silver_marketing_campaign_df = pd.read_parquet(silver_file_path) #Se carga archivo silver

In [17]:
silver_marketing_campaign_df.head() #Se comprueba que archivo bronze ha cargado correctamente

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp,_SilverTimestamp
index,,,,,,,,,,,,,,,,,,
0,1,Innovate Industries,Email,Men 18-24,30,Google Ads,0.04,16174.0,6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,2021-01-01,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604
1,2,NexGen Systems,Email,Women 35-44,60,Google Ads,0.12,11566.0,5.61,New York,German,116.0,7523,7.0,Fashionistas,2021-01-02,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604
2,3,Alpha Innovations,Influencer,Men 25-34,30,YouTube,0.07,10200.0,7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,2021-01-03,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604
3,4,DataTech Solutions,Display,All Ages,60,YouTube,0.11,12724.0,5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,2021-01-04,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604
4,5,NexGen Systems,Email,Men 25-34,15,YouTube,0.05,16452.0,6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,2021-01-05,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604

## Eliminar nulos

In [18]:
#Eliminamos los valores NaN que quedan en el df para que no den problemas en las correlaciones y nos graficos

In [19]:
#Código que nos muestra en qué columnas tenemos nulos:
columnas_con_nan = silver_marketing_campaign_df.columns[silver_marketing_campaign_df.isna().any()].tolist()
print("Columnas con valores NaN:", columnas_con_nan)

Columnas con valores NaN: ['Conversion_Rate', 'Clicks', 'Engagement_Score']

In [20]:
#Eliminamos valores NaN
silver_marketing_campaign_sin_nulos_df = silver_marketing_campaign_df
silver_marketing_campaign_sin_nulos_df = silver_marketing_campaign_sin_nulos_df.dropna(subset=["Conversion_Rate", "Clicks", "Engagement_Score"])

In [21]:
#comprobamos que se han eliminado todos los NaN
columnas_con_nan_comprobacion = silver_marketing_campaign_sin_nulos_df.columns[silver_marketing_campaign_sin_nulos_df.isna().any()].tolist()
print("Columnas con valores NaN:", columnas_con_nan_comprobacion)

Columnas con valores NaN: []

In [22]:
#"Clicks" es tipo float y ahora que podemos, porque ya no hay valores NaN, lo pasamos a tipo int
silver_marketing_campaign_sin_nulos_df["Clicks"].astype(int)

index
0         506
1         116
2         584
3         217
4         379
         ...
199995    858
199996    228
199997    723
199998    528
199999    924
Name: Clicks, Length: 199984, dtype: int64

## Guardar

In [23]:
# Crear carpeta
os.makedirs(gold_path, exist_ok=True)

In [24]:
#Añadir el timestamp de carga
silver_mc_times_tamp_df = silver_marketing_campaign_sin_nulos_df

silver_mc_times_tamp_df['_GoldTimestamp'] = datetime.now()

C:\Users\noagg\AppData\Local\Temp\ipykernel_18924\3994851113.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  silver_mc_times_tamp_df['_GoldTimestamp'] = datetime.now()

In [25]:
silver_mc_times_tamp_df.head()

,Campaign_ID,Company,Campaign_Type,Target_Audience,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,_BronzeTimestamp,_SilverTimestamp,_GoldTimestamp
index,,,,,,,,,,,,,,,,,,,
0,1,Innovate Industries,Email,Men 18-24,30,Google Ads,0.04,16174.0,6.29,Chicago,Spanish,506.0,1922,6.0,Health & Wellness,2021-01-01,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604,2025-11-10 19:08:18.213359
1,2,NexGen Systems,Email,Women 35-44,60,Google Ads,0.12,11566.0,5.61,New York,German,116.0,7523,7.0,Fashionistas,2021-01-02,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604,2025-11-10 19:08:18.213359
2,3,Alpha Innovations,Influencer,Men 25-34,30,YouTube,0.07,10200.0,7.18,Los Angeles,French,584.0,7698,1.0,Outdoor Adventurers,2021-01-03,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604,2025-11-10 19:08:18.213359
3,4,DataTech Solutions,Display,All Ages,60,YouTube,0.11,12724.0,5.55,Miami,Mandarin,217.0,1820,7.0,Health & Wellness,2021-01-04,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604,2025-11-10 19:08:18.213359
4,5,NexGen Systems,Email,Men 25-34,15,YouTube,0.05,16452.0,6.50,Los Angeles,Mandarin,379.0,4201,3.0,Health & Wellness,2021-01-05,2025-11-10 18:42:48.016782,2025-11-10 19:08:12.886604,2025-11-10 19:08:18.213359

In [26]:
silver_mc_times_tamp_df.to_parquet(gold_file_path)